@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #f5f5f6;
  color: #2d303d;
}

/* ============ Hero =============== */

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -100%;
  width: 100%;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  font-weight: bold;
  color: #2d303d;
}

.app-bar__navigation ul li {
  list-style: none;
}

.app-bar .app-bar__navigation.open ul li a:hover {
  color: #f37225;
}
.app-bar .app-bar__navigation ul li a:hover {
  color: #f37225;
}

/* BERANDA */

.article-beranda {
  width: 100%;
  min-height: 80vh;
  background-color: #f5f5f6;
}

.beranda {
  display: flex;
  padding: 86px;
  overflow: auto;
  background-color: #f5f5f6;
  justify-content: space-around;
  align-items: center;
}

main h1,
p {
  font-family: "red hat display";
}

main h1 {
  font-size: 40px;
  color: #2d303d;
  margin: 30px 0px;
  text-align: left;
}

main p {
  font-size: 20px;
  font-weight: 500;
  color: #2d303d;
  margin: 20px 0;
  text-align: left;
  padding: 0px;
}

.content-left {
  width: 35%;
}

footer {
  padding: 20px;
  color: #f5f5f6;
  font-family: "red hat display";
  background-color: #f37225;
  text-align: center;
  font-weight: bold;
}

/* ============= Data Monitoring Covid ================ */

.container-fluid.bg-orange {
  background-color: #f16c4d;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

.data-monitoring{
  width: 80vw;
}

.price-table {
  border-radius: 1em;
  margin: 1em 0;
}

.price-table-header {
  color: white;
}

.price-table h3 {
  font-size: 2em;
  font-weight: 400;
  padding: 1em 0;
  margin: 0;
}

.price-table-category {
  display: block;
  padding: 1em;
}

.price-table-info {
  background-color: #0e4e6b;
}

.price-table-info h3 {
  background-color: #126286;
}

.price-table-danger {
  background-color: #c3362b;
}

.price-table-danger h3 {
  background-color: #f44336;
}

table {
  background-color: white;
}

.badge-pill-info {
  background-color: #0e4e6b;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  background-color: #0b7323;
}

/* ============= Card ================= */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  font-family: "Red Hat Display", sans-serif;
  width: 280px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.card h2 {
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
}

.card p {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.card a {
  background-color: white;
  font-weight: 600;
  color: #f37225;
  text-decoration: none;
  display: block;
  margin: 20px;
}

.card-image {
  background-color: aqua;
  height: 140px;
  margin-bottom: 15px;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
}

.img-1 {
  background-image: url(https://asset.kompas.com/crops/g2z1_y4aL_f-WQR5ro5oaQ-eqYs=/5x0:5038x3355/750x500/data/photo/2020/11/13/5fae347fcf280.jpg);
}

.img-2 {
  background-image: url(https://www.prudential.co.id/export/sites/prudential-id/id/.galleries/images/page-title/tips-olahraga-saat-pandemi-1366x560.jpg);
}

.img-3 {
  background-image: url(https://asset.kompas.com/crops/MTaDZiKTdryZTpipB2DSuTgO2rE=/66x9:956x602/750x500/data/photo/2022/02/04/61fd162e6b868.jpg);
}

.img-4 {
  background-image: url(https://d1vbn70lmn1nqe.cloudfront.net/prod/wp-content/uploads/2022/04/29081331/Ini-Cara-Memulihkan-Indra-Penciuman-Setelah-Terkena-COVID-19.jpg.webp);
}

/* ============= Button Next ================= */
.button-next {
  font-family: "Red Hat Display", sans-serif;
  background-color: #f37225;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 12%;
  display: block;
  margin-left: auto;
}
/* ============= Footer ================= */

footer {
  font-family: "Red Hat Display", sans-serif;
  color: white;
  font-size: 16px;
  padding: 2em;
  width: 100%;
  text-align: center;
  font-weight: 500;
  background-color: #f37225;
}

/* ============= Responsive ================= */
body {
  font-family: Arial, Helvetica, sans-serif;
}
.gambar {
  display: block;
  margin-left: 13px;
  margin-top: 6px;
  margin-right: 5px;
  float: right;
  width: 400px;
  height: 440px;
}
.desc {
  font-size: 20px;
}
.dekstop {
  max-width: 100%;
  height: auto;
}
